{% extends 'base.html.twig' %}

{% block title %}Nos Biens{% endblock %}

{% block body %}
<div class="container">
    <h1>Les Biens</h1>

   {% for properties in property %}
        {{property.title}}
    {% endfor %} 
</div>
{% endblock %}
